html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --main-color: #212121;
    --second-color: color: #757575;
    --accent-color: #2196F3;
    /* --button-first-color: #ffffff;
    --button-second-color: #303030; */
}

body {
    background-color: white;
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;

}

a {
    text-decoration: none;
    color: currentColor;
}

.link {
    text-decoration: none;
    color: currentColor;
}

ul,
li,
ul>li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


h1,
h2,
h3,
p {
    margin: 0;
}

.navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-color);

}

nav.container {
    border-bottom: #ECECEC;
}

section {
    padding: 94px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    outline: 1px solid #ECECEC;
}

.navigation.container {
    display: flex;
    align-items: center;
}


.link-studio:hover,
.link-portfolio:hover,
.link-contacts:hover,
.link-email:hover,
.link-phone:hover,
.adress-footer:hover,
.mail-footer:hover,
.phone-footer:hover {
    color: var(--accent-color);
}

.link-studio {
    color: var();
}

.link-studio-blue,
.link-portfolio-blue {
    color: var(--accent-color);
}



.hero {

    background: #2F303A;
    padding: 200px 452px 200px 452px;
    text-align: center;
    width: 1600px;
    max-height: 600px;

}


.hero-text {

    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    max-height: 120px;
    margin-top: 0;
    margin-bottom: 30px;

}


.hero-button {
    display: inline-block;
    width: 216px;
    height: 50px;
    padding-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    font-size: 16px;
    line-height: calc(30/16);

    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 700;
    color: white;

}

.hero .container {
    display: flex;
}


button:hover {
    background-color: var(--accent-color);
}

button:focus {
    outline: #188CE8;
}

/* staff block studio */



.occupation {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;

}

.title-occupation {
    margin-bottom: 50px;
}

.title-team-block {
    margin-bottom: 50px;
}

.team-block {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
}

.first-name,
.second-name,
.third-name,
.fourth-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
}



.member-position-one,
.member-position-two,
.member-position-three,
.member-position-four {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: var(--s);
}


/* logo design */



.logo {
    font-weight: 700;
    color: currentColor;
    font-size: 26px;
    line-height: calc(31/26);

    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-down-white {
    color: white;
}

.logo-up-black {
    color: black;
}



/* Buttons portfolio */



.button {
    cursor: pointer;
}

.button-one,
.button-two,
.button-three,
.button-four,
.button-five {

    font-weight: 500;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    display: inline-block;
    width: 125px;
    height: 38px;
    border: none;
    padding: 6px 22px;
}


/* under hero studio page */


.item-heading-one>h2,
.item-heading-two>h2,
.item-heading-three>h2,
.item-heading-four>h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.item-heading-one>p,
.item-heading-two>p,
.item-heading-three>p,
.item-heading-four>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: var(--second-color);
}

/* Projects portfolio */



.technok,
.poster,
.restaurant,
.proect-prime,
.proect-box,
.inspiration,
.limited,
.proect-lab,
.groving {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
}

.technok-text,
.poster-text,
.restaurant-text,
.proect-prime-text,
.proect-box-text,
.inspiration-text,
.limited-text,
.proect-lab-text,
.groving-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;

    color: var(--second-color);
}



/* подвал */



.footer>.container {

    width: 1600px;
    min-height: 252px;
    background: #2F303A;
}

.footer>.container>.logo-down {

    padding-top: 60px;
    padding-right: 1240px;
    padding-bottom: 20px;
    padding-left: 215px;
}

.footer>.container>.adress {
    padding-left: 215px;
    padding-right: 1144px;
    padding-bottom: 60px;
}

.adress-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.mail-footer,
.phone-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}